#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: white;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
  
}
